@import url('https://fonts.googleapis.com/css?family=Exo:200,300,400,500,600,700|Parisienne');

/*----------------color----------------*/

.bg-color-name-title {
    background-color: #fff6e2;
}

.ui-menu-color-home {
    background-color: #fff6e2;
}

.ui-menu-color-about {
    background-color: #ffffff;
}


.ui-menu-color-writing {
    background-color: #fff6e2;
}


.ui-menu-color-gallery {
    background-color: #ffffff;
}


.ui-menu-color-collaboration {
    background-color: #fff6e2;
}

/*----------------Heading----------------s*/

/*header {*/
/*    margin: 0;*/
/*}*/

.name {
    font-family: "Parisienne", sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #000000;
    text-align: center;
}

.title {
    font-family: "Parisienne", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #000000;
    text-align: center;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

/*.list-inline-item:not(:last-child) {*/
/*    margin:0;*/
/*}*/

/*----------------footer----------------*/

footer {
    background-color: #fff6e2;
    color: #000000;
    min-height: 120px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    /*border-radius: 50%;*/
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.social-links li a i:hover {
    background: #e84610;
}

.block-divider {
    height: 2px;
    width:500px;
    border: 0;
    background-color: #000000;
}