@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900|Parisienne');

/*----------------color----------------*/

.bg-color-name-title {
    background-color: #fff6e2;
}

.bg-color-section {
    background-section: #fff6e2;
}

.ui-menu-color-home {
    background-color: #ffffff;
}

.ui-menu-color-about {
    background-color: #ffffff;
}

.ui-menu-color-credits{
     background-color: #ffffff;
}


.ui-menu-color-writing {
    background-color: #ffffff;
}


.ui-menu-color-gallery {
    background-color: #ffffff;
}


.ui-menu-color-collaboration {
    background-color: #ffffff;
}

/*----------------Heading----------------s*/

header {
    margin: 0;
    padding:0;
}

.name {
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #000000;
    text-align: center;
}

.title {
    font-family: "Noto+Serif+JP", serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}


.list-inline-item:not(:last-child) {
    margin:0;
}

.menucontainer {
    font-family: "Noto+Serif+JP", serif;
    font-weight: 400;
    font-size: 0;
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    
}

/*#nav ul {*/
/*}*/

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
    height: 60px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #000000;
    font-size: 13px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}    

/*----------------section----------------*/

    
/*----------------footer----------------*/

footer {
    font-family: "Noto+Serif+JP", serif;
    font-weight: 400;
    background-color: #fff6e2;
    color: #000000;
    min-height: 120px;
    margin:0;
}

.social-links {
    margin:0;
    /*padding-bottom: 15px;*/
    padding: 15px;
    font-size: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    /*border-radius: 50%;*/
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.social-links li a i:hover {
    background: #e84610;
}


#foot li {
    font-size: 14px;
    padding: 0;
    
}

.footeritem {
    height: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footeritem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
    height: 60px;
}

.footeritem a i {
    padding-top: 22px;
    display: block;
    color: #000000;
    font-size: 13px;
}

.footeritem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}   

#footer-details {
    padding: 20px;
}

/*----------------divider----------------*/

.block-divider {
    height: 2px;
    width:90vw;
    border: 2px;
    background-color: #000000;
    /*margin:0;*/
    padding:0px;
}